<!DOCTYPE html>
<html lang="en">
	<head>
		<title>TBaloo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script src=<%= aFrameFile %>></script>
		<script src="https://rawgit.com/ngokevin/aframe-text-component/master/dist/aframe-text-component.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79277163-1', 'auto');
  ga('send', 'pageview');

</script>
		<style>
			body {
				width            : 100%;
				height           : 100%;
				background-color : #000;
				color            : #fff;
				margin           : 0px;
				padding          : 0;
				overflow         : hidden;
			}
		</style>
	</head>
	<body>
		<a-scene>
			<a-entity text="text: Sorry, your web page is in an other castle" position="-7 1.8 0" color="yellow"></a-entity>
		</a-scene>
	</body>
</html>
