<!DOCTYPE html>
<html lang="en">
	<head>
		<title>TumbVR</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script src=<%= aFrameFile %>></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79277163-1', 'auto');
  ga('send', 'pageview');

</script>
		<style>
			body {
				width            : 100%;
				height           : 100%;
				background-color : #000;
				color            : #fff;
				margin           : 0px;
				padding          : 0;
				overflow         : hidden;
			}
			.advertising{
				top: 0;
			    left: 0;
			    width: 100%;
			    background-color: #D08888;
			    position: absolute;
			    z-index: 1;
			    padding-left: 15px;
			}
		</style>
	</head>
	<body>
		<div class="advertising">
			<p>
				Set http://tbaloo.com/tumbvr/USER_TUMBLR_ID to access its profile gallery. Try <a href="http://tbaloo.com/tumbVR/newsweek">http://tbaloo.com/tumbvr/newsweek</a> or <a href="http://tbaloo.com/tumbvr/theonlymagicleftisart">http://tbaloo.com/tumbvr/theonlymagicleftisart</a>
			</p>
		</div>
		<a-scene>
			<a-sky color="#aaf"></a-sky>
			<a-camera position="0 1 0" fov="60"></a-camera>
			<a-light type="point" color="white" angle="90" position="0 5 0"></a-light>
			<a-light type="ambient" color="#333"></a-light>
		</a-scene>
		<script type='text/javascript'>
			var tumbDatas = <%-JSON.stringify(tumblrdata)%>
		</script>
		<script src=<%= mainFile %>></script>
	</body>
</html>
