<!DOCTYPE html>
<html lang="en">
	<head>
		<title>TumbVR</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" type="text/css" href="public/styles/webvr-style.css">

		<script src=<%= aFrameFile %>></script>
		<script src="/public/js/aframe-physics-system.min.js"></script>
    <script src="https://tbaloo.com/public/js/gar-calculator.min.js?tmstp=42"></script>
	</head>
	<body>
    <div id="introContainer" class="dialog-container make-container--visible">
      <div class="dialog">
        <div class="dialog-title">Tumblr images inside a VR Gallery!</div>
        <div class="dialog-body">
          <p>Now you can naviguate through your favorite Tumblr gallery like if you were in a museum!</p>
          <p>Use the URL <b>http://tbaloo.com/tumbvr/USER_TUMBLR_ID</b> to access its profile gallery.</p>
          <p>Try one of those:
            <ul>
              <li><a href="http://tbaloo.com/tumbvr/newsweek">http://tbaloo.com/tumbvr/newsweek</a></li>
              <li><a href="http://tbaloo.com/tumbvr/theonlymagicleftisart">http://tbaloo.com/tumbvr/theonlymagicleftisart</a></li>
            </ul>
          </p>
        </div>
        <div class="dialog-buttons">
          <button id="butOK" class="button" onclick='document.querySelector("#introContainer").classList.remove("make-container--visible");'>OK</button>
        </div>
      </div>
    </div>

		<a-scene physics='gravity: -9.8' antialias='true'>
			<a-sky color="#aaf"></a-sky>

			<a-entity id="camParent">
				<a-camera fov="60"></a-camera>
			</a-entity>

			<a-light type="point" color="white" angle="90" position="0 5 0"></a-light>
			<a-light type="ambient" color="#333"></a-light>

			<a-entity id="leftController" static-body="shape: sphere; sphereRadius: 0.02;" vive-controls="hand: left" sphere-collider="objects: .throwable" grab></a-entity>
  		<a-entity id="rightController" static-body="shape: sphere; sphereRadius: 0.02;" vive-controls="hand: right" sphere-collider="objects: .throwable" grab></a-entity>

			<!-- Ammo and table-->

			<a-sphere id="ball1" class="throwable" dynamic-body position="-0.4 1.1 -1" radius="0.05" color="green"></a-sphere>
			<a-sphere id="ball2" class="throwable" dynamic-body position="-0.3 1.1 -1" radius="0.05" color="blue"></a-sphere>
			<a-sphere id="ball3" class="throwable" dynamic-body position="-0.2 1.1 -1" radius="0.05" color="red"></a-sphere>

			<a-box id="table" static-body position="0 1 -1" width="1" height="0.05" depth="0.3" color="grey"></a-box>
			<a-box id="tableFootLeft" static-body position="-0.49 0.5 -1" width="0.02" height="1" depth="0.3" color="grey"></a-box>
			<a-box id="tableFootRight" static-body position="0.49 0.5 -1" width="0.02" height="1" depth="0.3" color="grey"></a-box>

			<a-box id="tableBasket3" static-body position="-0.49 1.125 -1" width="0.02" height="0.2" depth="0.3" color="#4E57B2"></a-box>
			<a-box id="tableBasket2" static-body position="-0.34 1.125 -1.14" width="0.3" height="0.2" depth="0.02" color="#4E57B2"></a-box>
			<a-box id="tableBasket4" static-body position="-0.34 1.125 -0.86" width="0.3" height="0.2" depth="0.02" color="#4E57B2"></a-box>
			<a-box id="tableBasket1" static-body position="-0.19 1.125 -1" width="0.02" height="0.2" depth="0.3" color="#4E57B2"></a-box>

      <a-entity position="-0.765 0.207 0.328" rotation="56.43634282038609 172.63218367291702 0" light="angle:30;type:spot;castShadow:true"></a-entity>

      <a-entity id="mainScene" shadow="receive: true" gltf-model="/public/assets/models/landscape_gallery_by_stoneysteiner/scene.gltf" position="0 1 0"></a-entity>
      <a-entity id="davidStatue" shadow="cast: true" gltf-model="/public/assets/models/david_by_michelangelo/scene.gltf" position="-0.821 0.1 3.598" scale="0.2 0.2 0.2" rotation="0 180 0"></a-entity>

      <!-- AD DEMO -->
      <a-entity gar-calculator="debug:true;modelUrl:https://tbaloo.com/public/assets/models//tavolo/scene.gltf;adID:tavolo" position="1.008 0.039 -1.002" scale="0.001 0.001 0.001"></a-entity>
      <a-entity gar-calculator="debug:true;modelUrl:https://tbaloo.com/public/assets/models/coke/scene.gltf;adID:coke007" position="0.482 1.081 -1.066" scale="0.1 0.1 0.1"></a-entity>
		</a-scene>
		<script type='text/javascript'>
			var tumbDatas = <%-JSON.stringify(tumblrdata)%>
		</script>
		<script src=<%= mainFile %>></script>
	</body>
</html>
