<!DOCTYPE html>
<html lang="en">
	<head>
		<title>TumbVR</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<script src=<%= aFrameFile %>></script>
		<script src="/public/aframe-extras.min.js"></script>

		<style>
			body {
				width            : 100%;
				height           : 100%;
				background-color : #000;
				color            : #fff;
				margin           : 0px;
				padding          : 0;
				overflow         : hidden;
			}
			.advertising{
				top: 0;
			    left: 0;
			    width: 100%;
			    background-color: #D08888;
			    position: absolute;
			    z-index: 1;
			    padding-left: 15px;
			}
		</style>
	</head>
	<body>
		<div class="advertising">
			<p>
				Set http://tbaloo.com/tumbvr/USER_TUMBLR_ID to access its profile gallery. Try <a href="http://tumbvr.herokuapp.com/newsweek">http://tbaloo.com/tumbvr/newsweek</a> or <a href="http://tumbvr.herokuapp.com/theonlymagicleftisart">http://tbaloo.com/tumbvr/theonlymagicleftisart</a>
			</p>
		</div>
		<a-scene physics='gravity: -9.8' antialias='true'>
			<a-sky color="#aaf"></a-sky>
			<a-camera fov="60"></a-camera>
			<a-light type="point" color="white" angle="90" position="0 5 0"></a-light>
			<a-light type="ambient" color="#333"></a-light>

			<a-entity id="leftController" static-body="shape: sphere; sphereRadius: 0.02;" vive-controls="hand: left" sphere-collider="objects: .throwable" grab></a-entity>
      		<a-entity id="rightController" static-body="shape: sphere; sphereRadius: 0.02;" vive-controls="hand: right" sphere-collider="objects: .throwable" grab></a-entity>

			<!-- Ammo -->
			<a-sphere id="ball1" class="throwable" dynamic-body position="1 1.25 -0.5" radius="0.10" color="green"></a-sphere>
			<a-sphere id="ball2" class="throwable" dynamic-body position="1.25 1.25 -0.5" radius="0.10" color="blue"></a-sphere>
			<a-sphere id="ball3" class="throwable" dynamic-body position="-1.25 1.25 -0.5" radius="0.10" color="red"></a-sphere>
		</a-scene>
		<script type='text/javascript'>
			var tumbDatas = <%-JSON.stringify(tumblrdata)%>
		</script>
		<script src=<%= mainFile %>></script>
	</body>
</html>